:root {
  --primary-color: #ff0040;
  --secondary-color: #00afff;
  --tertiary-color: #e74c3c;
  --gris-fonce: #302f2f;
  --gris: #323633;

  --font-familylogo: "Rubik Doodle Shadow", "sans-serif";
  --font-family2: "Lobster", sans-serif;
  --font-family3: "Press Start 2P", sans-serif;
  --font-family4: "Dhurjati", sans-serif;
  --font-family5: "Lobster", sans-serif;

  --blanc: #ffffff;
  --gris: #333533;
  --rose: #ff014f;
  --noir: #000000;
  --marron: #ce873c;
  --bleu-ciel: #01ccff;
}
